body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

header {
    height: 200px;
    border-radius: 0 0 30px 30px;
    position: relative;
}

.image-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;

}


.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}



.container-profile {
    margin-top: 80px;
    max-width: 1000px;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
}

p.position {
    text-align: center;
    color: #666;
    margin-bottom: 15px;
}

.card-custom {
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}

.experience {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
}

.experience-item {
    min-width: 200px;
    max-width: 400px;
    border-color: #bccea5;
    margin-right: 15px;
    border-radius: 12px;
    padding: 15px;
    flex-shrink: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.experience-add {
    border: 2px dashed #abc1d7ff;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s;
}

.experience-item:hover {
    background-color: #f8f9fa;
}

.experience-item img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
}

.education-item {
    display: flex;
    align-items: start;
    margin-bottom: 15px;
}

.education-item img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 12px;
    object-fit: cover;
}


.skill-item {
    display: flex;
    align-items: start;
    margin-bottom: 15px;
}

.card-custom {
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.card-icons i.icon-small {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-right: 20px;
    margin-bottom: 7px;
}

i.icon-small {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: 20px;
}
i.icon-small:hover {
    transform: scale(1.2);
}



.card-icons i.icon-small:hover {
    transform: scale(1.2);
}

.education-item img {
    flex-shrink: 0;
}

.profile-img:hover {
    opacity: 0.85;
}